body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {


  --color-text-primary: #F62D83;

  --color-text-light: #ffffff;

  --color-title-primary: #111111;
  --color-title-accent: #6c63ff;

  --color-bg-primary: #F62D83;
  --color-bg-secondary: black;

  --color-accent: #6c63ff;
  --color-accent-hover: #574fd6;


  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-mg : 20px;
  --padding-lg: 32px;
  --padding-xl: 64px;

  --margin-xs: 4px;
  --margin-sm: 8px;
  --margin-md: 16px;
  --margin-lg: 32px;
  --margin-xl: 64px;



  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;


  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-hero: 48px;

}
/*  */
/* .vinyl {
  position: absolute;
  width: 50%;          
  height: 50%;         
  border-radius: 50%;
  top: 20%;
  left: 50%;           
  transform: translateX(-50%);
  background: #c2185b;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center; 
  animation: spin 4s linear infinite; 
}

.vinyl:before {
  content: "";
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-image: url('/assets/img/pocket.jpg');
  background-size: cover;
  background-position: center;
}

@keyframes spin {
  0%   { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
} */